#main {
    color: #333;
    background-color: rgb(194, 191, 191);
}

#title h1 {
    font-size: 2rem;
    text-align: center;
}
#title p {
    font-size: 1rem;
    text-align: center;
}

#img-div {
    text-align: center;
    background-color: white;
    border: 12px solid rgb(194, 191, 191);
}

#tribute-info ul {
 justify-content: center;
    margin: 10px;
    

}

#tribute-info h4 p  {
    text-align: center;
    font-size: 20px;
}

#tribute-info {
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    line-height: 30px;
}

#tribute-info a {
    text-decoration: none;
}
